 body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #1e1b1b;
    background-color: rgb(251, 227, 241);
   
 }
li {
    font-size: 14px;
    font-style: italic;
    font-weight: normal;    
}
a{color: black;
text-decoration: none;
}
a.hover {
    text-decoration: underline;
    font-weight: bold;
}
.resumelistheading {
        font-weight:bolder;
        font-style: normal;
}
.bold {font-weight: bold;} 
.justify {text-align: justify;}

.homebg{
    background-image: url('../images/natalie_by_boat.jpeg');
    /* background-position: top right; */
    background-size: cover;       /* makes it fit the screen */
    background-repeat: no-repeat; /* prevents tiling */
    background-position: center;  /* keeps focus centered */
    height: 100vh;                /* ensures it fills the viewport */
    margin: 0; 
}